@model ApplicationTrackerApp.Models.JobApplication

@{
	ViewData["Title"] = "Edit Application";
}

<style>
	.title-area {
		display: flex;
		justify-content: space-between;
	}

		.title-area a {
			height: fit-content;
			display: flex;
			align-self: flex-end;
		}

	textarea {
		resize: none;
		height: 9em;
	}
</style>


<div class="title-area">
	<div>
		<h2>Edit Application</h2>
		<p>@Model.Company - @Model.Position</p>
	</div>

	<a href="/JobApplications/Delete/@Model.Id" class="btn btn-danger btn-sm px-3 py-2">Delete</a>
</div>

<form asp-action="Edit" method="post">
	<input type="hidden" asp-for="Id" />

	<div class="form-group">
		<label asp-for="Company"></label>
		<input asp-for="Company" value="@Model.Company" class="form-control" />
		<span asp-validation-for="Company" class="text-danger"></span>
	</div>

	<div class="form-group mt-2">
		<label asp-for="Position"></label>
		<input asp-for="Position" value="@Model.Position" class="form-control" />
		<span asp-validation-for="Position" class="text-danger"></span>
	</div>

	<div class="form-group mt-2">
		<label asp-for="Notes"></label>
		<textarea asp-for="Notes" value="@Model.Notes" class="form-control"></textarea>
		<span asp-validation-for="Notes" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}